<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        p {
            font-size: 26px;
        }
        p b {
            color: #000000;
        }
    </style>
</head>
<body>
    <h2>Datos enviados</h2>
    <p><b>Nombre: </b>{{ nom }}</p>
    <p><b>Asunto: </b>{{ asu }}</p>
    <p><b>Email: </b>{{ email }}</p>
    <p></p>
    <p><b>Mensaje: </b>{{ men }}</p>
</body>
</html>
